$maxWidth: 990px;
$toolbarHeight: 60px;


@mixin operationResult() {
  display: block;
  float: left;
  width: 50%;
  height: 100%;

  overflow: scroll;

  > div {
    white-space: pre;
    display: block;
    height: 100%;
  }
}

#editor-container {
  position: absolute;
  width: 100%;
  height: 100%;

  padding-top: $toolbarHeight;

  box-sizing: border-box;

  .editor-toolbar {
    position: absolute;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;

    box-shadow: 0px 1px 2px 0px grey;

    z-index: 999;
    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    padding: 0px 20px;

    font-family: $codeFontFamily;

    height: $toolbarHeight;
    line-height: $toolbarHeight;

    * {
      vertical-align: middle;
    }

    .action-toolbar {

      height: 100%;
      line-height: $toolbarHeight;

      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .action-header {
        font-size: 18px;

        display: inline-block;
        line-height: 1em;

        div {
          display: inline-block;
          &.action-name {
            color: $queryNameColor
          }
          &.action-type {
            color: $typeNameColor;
            margin-left: 10px;
          }
        }
        
        p {
          font-size: 12px;
          margin: 0px;
        }
      }

      .editor-controls {
        text-align: right;
        display: inline-block;
        
        line-height: 1em;

        .editor-control-picker {
          display: inline-block;
          margin-right: 30px;
        }

        button {
          padding: 8px 16px;
          border: 1px solid grey;
          background-color: whitesmoke;
          border-radius: 4px;

          &:disabled {
            background-color: whitesmoke;
            border-color: gainsboro;
            color: gainsboro;
          }
        }
      }
    }

  } // api-main-toolbar

  #editor-panes {
    position: relative;
    width: 100%;
    height: 100%;

    @import 'creator_main';

    #operation-generated {

      height: 100%;
      width: 100%;
      float: left;
      padding: 0px;
      margin: 0px;
      overflow: hidden;

      font-family: $codeFontFamily;
      //padding: 10px;

      .generated-content {
        position: relative;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow: hidden;

        .operation-result-gql {
          width: 100%;
          height: 100%;

          padding: 0px;
          margin: 0px;
          overflow: hidden;

          @include operationResult();  
          padding-right: 2px;

          .gql-panel {
          
            padding: 10px;
            overflow: scroll;

            &.invalid {
              color: lightgrey;
              //text-decoration-style: 1px dashed red;
            }
          }
        }
        .copy-button {
          position: absolute;
          top: 10px;
          right: 10px;

          button {
            padding: 8px 16px;
            border: 1px solid grey;
            background-color: whitesmoke;
            border-radius: 4px;
            line-height: 1em;
          }
        }
      }
    }

    #editor-result {
      
      height: 100%;
      float: left;
      padding: 0px;
      margin: 0px;
      overflow: hidden;

      font-family: $codeFontFamily;

      .result-data {
        width: 100%;
        height: 100%;

        padding: 10px;
        overflow: scroll;

        white-space: pre;
      }

    }
  }
} // #editor-container