$maxWidth: 990px;
$toolbarHeight: 60px;

#editor-container {
  position: absolute;
  width: 100%;
  height: 100%;

  padding-top: $toolbarHeight;

  box-sizing: border-box;

  .editor-toolbar {
    position: absolute;
    background-color: whitesmoke;
    border-bottom: 1px solid grey;

    box-shadow: 0px 1px 2px 0px grey;

    z-index: 999;
    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    font-family: $codeFontFamily;

    height: $toolbarHeight;
    line-height: $toolbarHeight;

    * {
      vertical-align: middle;
    }

    .action-toolbar {

      height: 100%;
      line-height: $toolbarHeight;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    padding: 0px 20px;

    .action-header {
      font-size: 18px;

      display: inline-block;
      line-height: 1em;

      div {
        display: inline-block;
        &.action-name {
          color: $queryNameColor
        }
        &.action-type {
          color: $typeNameColor;
          margin-left: 10px;
        }
      }
      
      p {
        font-size: 12px;
        margin: 0px;
      }
    }

    .editor-controls {
      text-align: right;
      display: inline-block;
      
      line-height: 1em;

      .editor-control-picker {
        display: inline-block;
        margin-right: 30px;
      }

      button {
        padding: 8px 16px;
        border: 1px solid grey;
        background-color: whitesmoke;
        border-radius: 4px;

        &:disabled {
          background-color: whitesmoke;
          border-color: gainsboro;
          color: gainsboro;
        }
      }
    }

  } // api-main-toolbar

  #editor-panes {
    position: relative;
    width: 100%;
    height: 100%;

    @import 'creator_main';

    #query-generated {

      height: 100%;
      float: left;
      padding: 0px;
      margin: 0px;
      overflow: hidden;

      font-family: $codeFontFamily;
      //padding: 10px;

      .generated-content {
        position: relative;
        height: 100%;
        padding: 0px;
        margin: 0px;
        overflow: hidden;

        .query-result-gql {
          width: 100%;
          height: 100%;

          padding: 0px;
          margin: 0px;
          overflow: hidden;

          .gql-panel {
          
            padding: 10px;
            overflow: scroll;

            &.invalid {
              //text-decoration: underline dashed red;
              color: lightgrey;
              //text-decoration-style: 1px dashed red;
            }
          }
        }
        .copy-button {
          position: absolute;
          top: 10px;
          right: 10px;

          button {
            padding: 8px 16px;
            border: 1px solid grey;
            background-color: whitesmoke;
            border-radius: 4px;
            line-height: 1em;
          }
        }
      }
    }

    #editor-result {
      
      height: 100%;
      float: left;
      padding: 0px;
      margin: 0px;
      overflow: hidden;

      font-family: $codeFontFamily;

      .result-data {
        width: 100%;
        height: 100%;

        padding: 10px;
        overflow: scroll;

        white-space: pre;
      }

    }
  }
} // #editor-container

@mixin queryResult() {

  display: block;
  float: left;
  width: 50%;
  height: 100%;

  overflow: scroll;

  > div {
    white-space: pre;
    display: block;
    height: 100%;
  }
}

.query-result-gql {
  @include queryResult();  
  padding-right: 2px;
}
.query-result-data {
  @include queryResult();
  padding-left: 2px;

  .data-browser-error {
    .error-title { 
      font-weight: bold;
      color: #990000; 
    }
    .error-body {
      white-space: pre;
    }
  }
}

.api-main-query {

  overflow: hidden;
  padding-top: $toolbarHeight;

  .query-editor {
    padding: 10px;
    overflow: scroll;
    height: 100%;
    float: left;
  }
  .query-generated {

    height: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    font-family: $codeFontFamily;
    //padding: 10px;

    .generated-content {
      position: relative;
      height: 100%;
      padding: 0px;
      margin: 0px;
      overflow: hidden;

      .query-result-gql {
        width: 100%;
        height: 100%;

        padding: 0px;
        margin: 0px;
        overflow: hidden;

        .gql-panel {
        
          padding: 10px;
          overflow: scroll;

          &.invalid {
            //text-decoration: underline dashed red;
            color: lightgrey;
            //text-decoration-style: 1px dashed red;
          }
        }
      }
      .copy-button {
        position: absolute;
        top: 10px;
        right: 10px;

        button {
          padding: 8px 16px;
          border: 1px solid grey;
          background-color: whitesmoke;
          border-radius: 4px;
          line-height: 1em;
        }
      }
    }
  }
}

.api-main-result {
  background-color: white;

  font-family: $codeFontFamily;

  padding: 0px;
  margin: 0px;
  overflow: hidden;

  .query-result-data {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    .result-panel {
      width: 100%;
      height: 100%;

      padding: 0px;
      margin: 0px;
      overflow: hidden;

      .result-data {
        padding: 10px;
        overflow: scroll;
        width: 100%;
        height: 100%;
      }
    }
  }
} // editor-container

//Extracted from _api_browser
.query-main {
  max-width: $maxWidth;
  margin: 0px auto;

  padding-top: $toolbarHeight;
  font-family: $codeFontFamily;

  .query-meta {

    border: 1px solid lightgrey;
    border-radius: 4px;

    margin-bottom: 10px;

    .query-input {
      padding: 5px 10px;

      .input-form {
        &::before {
          content: "Input: {";
        }
        &::after {
          content: "}";
        }
        table { 
          margin-left: 20px;

          border-collapse: separate;
          border-spacing: 5px; 
          
          .input-field {
            .input-field-name {
              color: $argNameColor;
              &::after {
                content: ": "
              }
            }

            input {
              
              width: 100%;
              border: 1px solid $queryNameColor;
              border-radius: 4px;
              box-sizing: border-box;

            }

            .input-field-type {
              &::before {
                content: " (";
              }
              &::after {
                content: ")"
              }
              .type-name {
                color: $typeNameColor;
              }
            }
          }
        }
      }
    }

    .query-controls {
      text-align: right;
      button {
        padding: 8px 16px;
        border: 1px solid grey;
        background-color: whitesmoke;
        border-radius: 4px;

        &:disabled {
          background-color: whitesmoke;
          border-color: gainsboro;
          color: gainsboro;
        }
      }
    }

  } //query-meta



  .query-body {
    //@include query-panel();
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;

    //margin-top: 10px; 

    .query-fieldset {

      .query-field-container {

        .query-field {
          float: none;
          clear: both;

          height: 1.5em;
          line-height: 1.5em;
          margin: 2px 0px;
          border-radius: 2px;

          cursor: pointer;

          &:hover {
            background-color: gainsboro;
          }

          .field-checkbox {
            width: 1.5em;
            height: 1.5em;
            padding: 7px;
            //background-color: tan;

            .field-checkmark {
              width: 100%;
              height: 100%;

              border: 1px solid grey;
              border-radius: 50%;
              &.checked {
                background-color: grey;
              }
            }
          }

          .field-name {
            color: $queryNameColor;
            &.needed {
              border-bottom: 1px dashed red;
            }
          }
          .field-type {
            margin-left: 5px;
            .type-name {
              color: $typeNameColor;
            }
          }

          .field-description {
            margin-left: 5px;
            font-size: 12px;
            color: grey;
          }

          > div { 
            display: block;
            margin: 0px;
            padding: 0px;
            height: 20px;
            float: left;
            //background-color: lightsteelblue;
          }
        }

        .sub-fields {
          margin-left: 30px;
          display: block;
          float: none;
          clear: both;
        }
        
      }

    }
  } //query-body


} //query-main
