.SplitPane {
  .Resizer {
    background-color: gainsboro;

    &.vertical {
      width: 5px;
      min-width: 5px;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      cursor: col-resize;
    }

    &.horizontal {
      height: 5px;
      min-height: 5px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      cursor: row-resize;
    }

  }

  .Pane {
    overflow: scroll;
  }
}