$header-height: 40px;
$sidebar-width: 250px;

//Color variables
$queryNameColor: #0066cc; //blue;
$typeNameColor: #e69500; //orange;
$argNameColor: #aa09aa; //purple;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$root-font: 'Lato', sans-serif;

$codeFontFamily: Menlo,Monaco,Consolas,Courier New,monospace;

@import 'utility';
@import 'split_pane';

#inquirer-app {

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  font-family: $root-font;

  #inquirer-header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;

    background-color: #005172;
    box-shadow: 0 1px 2px 0 grey;

    padding: 0px 10px;

    color: white;

    height: $header-height;
    line-height: $header-height;

    vertical-align: middle;

    z-index: 1001;
  }

  #inquirer-body {
    position: absolute;
    top: $header-height;
    right: 0px;
    bottom: 0px;
    left: 0px;

    #inquirer-loader {
      width: 100%;
      padding-top: 50px;
      text-align: center;

      > div {
        display: inline-block;
      }
    }

    #inquirer-sidebar {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;

      //border-right: 1px solid grey;
      box-shadow: 1px 0 2px 0 grey;

      overflow-x: scroll;
      
      width: $sidebar-width;

      @import 'sidebar';

      z-index: 1000;
      //background-color: lightsteelblue;
    }

    #inquirer-content {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: $sidebar-width;

      @import 'content';

    }
  }

  //Styles for types
  .NON_NULL {
    &::after {
      content: "!";
      color: black;
    }
  }

  .LIST {
    &::before {
      content: "[";
      color: black;
    }
    &::after {
      content: "]";
      color: black;
    }
  }

}